<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
        
    <wb-module deploy-name="BankingSystem">
                
        <wb-resource deploy-path="/" source-path="/WebContent" tag="defaultRootSource"/>
                
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src"/>
                
        <property name="java-output-path" value="/BankingSystem/build/classes"/>
        <property name="context-root" value="BankingSystem"/>
            
    </wb-module>
    
</project-modules>
